body {
    font-family: sans-serif;
    background-color: rgb(92, 143, 92);
}

header {
    text-align: center;
}

.main {
    display: flex;
    text-align: center;
}

#img-zoo {
    text-align: center;
    padding: 20px;
}

.images {
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding: 20px;
}

img {
    width: 45%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}